body {
	margin: 0px;
	background-color: #FEFEFE;
	font-family: Verdana, Arial, sans-serif;
	color: #939393;
	font-size: 14px;
}

div#header {
	background-color: #FEFEFE;
	font-family: Verdana, Arial, sans-serif;
	overflow: hidden;
	padding: 10px 30px;
}

div#content {
}
