h1 {
    margin-left: 200px;
    color: #17416D;
}

table#bookings {
	width: 100%;
	border-collapse: collapse;
}

table#bookings td {
	border: 1px solid #B0B0B0;
	text-align: center;
	vertical-align: center;
	width: 12%;
	
	font-size: 12px;
	font-weight: bold;
}

tr#times {
    color: #17416D;
}

td.room_name {
    color: #17416D;
}

tr.room_row {
	height: 80px;
}

td.taken {
	background-color: #939393;
	color: #FEFEFE;
}

button.corner {
    margin: 0px;
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 60px;
	background-color: #939393;
	color: #FEFEFE;
    border: none;
    font-size: 50px;
    font-weight: bold;
}

button.corner#left {
    left: 0px;
    border-top-right-radius: 10px;
}

button.corner#right {
    right: 0px;
    border-top-left-radius: 10px;
}
